.height100vh{
    /* height: 100vh;
    background-color: gray;    
    background-image: url("/images/Science-page-Step-2.png");
    background-size: cover;
    background-repeat: no-repeat; */
   
}
.container{
    margin-left: auto;
    margin-right: auto;
    max-width: 1380px;
    width: 100%;   
}
.RowFlex{
    display: flex;  
    text-align: end; 
   align-items: center;
    height: 100vh;
}

.RowFlex h1{
    color: #fff;    
    font-size: 130px;
    font-weight: 800;
    font-family: var(--bmd-font-Secondary);
    letter-spacing: normal;
    line-height: 129px;  
    -webkit-text-fill-color: #000000c7;
    -webkit-text-stroke-color: #97AF98;
    -webkit-text-stroke-width: 2px;
}

.RowFlex h3{
    color: #FFF;
    text-align: right;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.80);
    font-family: var(--bmd-font-Secondary);
    font-size: 59px;
    font-style: normal;
    font-weight: 600;
    line-height: 70px;     
}
.W80{
    justify-content: end;
    display: flex;

}
.W80 p{
    font-family: var(--bmd-font-Secondary);
    font-size: 16px;
    margin: 20px 0px;
    color: #fff;
    width: 60%; 
}
.ReadMoreBtnWhite{
    background-color: #fff;
    color: #000;
    font-family: var(--bmd-font-Secondary);
    font-size: 18px;
    font-weight: 400;
    padding: 15px 22px;
    margin: 15px 0px; 

}
.Mask{
    -webkit-mask-image: url("/images/Science-page-Step-2.png");
  mask-image: url("/images/Science-page-Step-2.png");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat; 
}

@media  (max-width: 1599.98px)
{

    .container {
        margin-left: auto;
        margin-right: auto;
        max-width: 1200px;
        width: 100%;
    }
    .RowFlex h1{
        font-size: 80px;
    }
    .RowFlex h2{
        font-size: 42px;
        bottom: 15px;
    }
    .RowFlex h3{
        font-size: 40px;
    }
    .W80 p{        
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden; 
    }
    
    

}
@media  (max-width: 1100px)
{
    .container {
             max-width: 900px;
       
    }
    .RowFlex h1{
        font-size: 80px;
        line-height: 80px;
    }


}
@media  (max-width: 768px)
{
    .container {
             max-width: 650px;
       
    }
    .W70 {
        
        width: 100%;
        
    }
    .RowFlex h1 {
        line-height: 75px;
    }
    .W80 p{        
        display: block;
        
    }

}
@media  (max-width: 575px)
{
    .container {
             max-width: 375px;
       
    }
    .W80 {
        width: 100%;
    }
    .RowFlex h2 {
        font-size: 24px;
        bottom: 5px;
    }
   
    .RowFlex h1 {
        font-size: 45px;
        letter-spacing: normal;
        line-height: 50px;
        
    }
    .RowFlex h3 {
        font-size: 20px;
        line-height: 30px;
    }
    .W80 p {
       
        width: 100%;
    }

}
@media  (max-width: 475px)
{
    .container {
             max-width: 275px;
       
    }
    

}